.header {
  display: flex;
  align-items: center;
  background-color: rgb(255 238 237);
  height: 60px;
}

.header--title {
  margin: 8px;
  font-size: 24px;
  font-weight: 700;
  text-transform: uppercase;
  color: tomato;
}
