.header {
  display: flex;
  align-items: center;
  background-color: rgb(255 238 237);
  height: 60px;
}

.header--home {
  display: flex;
  align-items: center;
  margin: 8px;
  padding: 0;
  transition: opacity 0.25s ease-in-out;
}

.header--home:hover {
  border: none;
  opacity: 0.8;
}

.header--title {
  margin-left: 8px;
  font-size: 24px;
  font-weight: 700;
  text-transform: uppercase;
  color: tomato;
}
