.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(255 238 237);
  height: 60px;
  padding: 0 10px;
}

.header--home {
  display: flex;
  align-items: center;
  margin: 8px;
  padding: 0;
  transition: opacity 0.25s ease-in-out;
}

.header--home:hover {
  border: none;
  opacity: 0.8;
}

.header--title {
  margin-left: 8px;
  font-size: 24px;
  font-weight: 700;
  text-transform: uppercase;
  color: tomato;
}

.header--link {
  padding: 8px 4px;
  color: black !important;
  border: none;
}

.header--link:hover {
  color: tomato !important;
  border: none;
}

.header--link.big {
  padding: 16px 8px;
  transition: color 0.15s ease-in-out;
}

.header--link.big + .header--link.big {
  margin-left: 4px;
}

.header--links {
  display: none;
}

.header--menu {
  position: relative;
}

.menu-button {
  border: none;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.menu-button.active {
  background-color: rgba(255, 99, 71, 0.25);
}

.menu {
  position: absolute;
  display: flex;
  flex-direction: column;
  background: white;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.25);
  right: 0;
  top: 37px;
}

@media screen and (min-width: 992px) {
  .header--links {
    display: initial;
  }

  .header--menu {
    display: none;
  }
}
