.board-counters {
  margin: 12px 0 8px;
  display: flex;
  align-items: center;
}

.board--counter {
  font-weight: 700;
  margin-left: 4px;
}

.board--counter--label {
  margin-right: 4px;
}

.board--counter + .board--counter--label {
  margin-left: 16px;
}

.board--counter.mines {
  color: tomato;
}

.board--counter.helpers {
  color: green;
}

.board {
  overflow: auto;
  border: 2px solid tomato;
}

.board .row {
  display: flex;
  align-items: center;
}
