.board-counters {
  margin: 12px 10px 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.board--counter {
  font-weight: 700;
  margin-left: 4px;
}

.board--counter--label {
  margin-right: 4px;
}

.board--counter + .board--counter--label {
  margin-left: 16px;
}

.board--counter.mines {
  color: tomato;
}

.board--counter.helpers {
  color: green;
}

.board--window {
  overflow-x: auto;
}

.board {
  border: 2px solid tomato;
  margin: 0 auto;
}

.board .row {
  display: flex;
  align-items: center;
}
